[interactive]
    diffFilter = delta --color-only
[apply]
    whitespace = nowarn
[branch]
    autosetuprebase = always
[core]
    editor = /usr/local/bin/nvim
    attributesfile = ~/.gitattributes
    excludesfile = ~/.gitignore
	pager = delta
    autocrlf = input
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = red reverse
    local = blue
    remote = green
[color "diff"]
	meta = 11
	frag = magenta bold
	old = red bold
	new = green bold
    plain = white
	commit = yellow bold
	whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[diff]
    colorMoved = default
	tool = vimdiff
    mnemonicprefix = true
[difftool "vimdiff"]
    cmd = vimdiff $LOCAL $REMOTE
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true
    process = git-lfs filter-process
[mergetool "vimdiff"]
	path = nvim
[push]
    default = current
[pull]
    default = current
	rebase = true
[rerere]
    enabled = false
[rebase]
    autosquash = true
[user]
	email = 13444106+maptv@users.noreply.github.com
    name = Martin Skarzynski
[credential]
	helper = osxkeychain
[color "diff-highlight"]
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
	oldNormal = red bold
[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    features = decorations
    whitespace-error-style = 22 reverse
    syntax-theme = Dracula

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[init]
	defaultBranch = main
